.app { 
  display: flex;
  height: auto;
  width: 90vw;
  justify-content: space-between;
  margin: auto;
}

h1, h2, p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-weight: 500;
}

.interface-wrapper {
  width: 40vw;
  height: auto;
}

.header {
  height: auto;
  background-color: #0cbcd0;
  color: white;
  padding: 2.3rem 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 40px 40px 0 0;
}

/* Accounts */

.account-wrapper {
  margin-bottom: 2.5rem;
}

.flex-wrapper {
  display: flex;
  justify-content: space-between;
}

.flex-wrapper {
  color: yellow;
}

.flex-wrapper h2 {
  display: flex;
  align-items: center;
}

/* Transfer */

form {
  display: flex;
  justify-content: space-between; 
  width: 100%;
}

.transfer-description, .transfer-amount {
  width: 40%;
}

.transfer-description input {
  width: 100%;
}

input {
  width: 100%;
  padding: 8px 12px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  background: none;
  border-bottom: 1px solid white;
  color: white;
}

input:focus {
  outline:none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input::placeholder {
  color: white;
}

input[type="image"] {
  border-bottom: none;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0;
  border-radius: 50%;
}

.transfer-button {
  display: flex;
  align-items: center;
}

/* Transaction */

.transaction-wrapper {
  padding: 5% 5% 10%;
  background-color: #f5f5f5;
  border-radius: 0 0 40px 40px;
}


.transaction-wrapper h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  /* border-bottom: 1px solid black; */
  background: transparent;
  display:block;
  
}
.transaction-wrapper h2:after {
  display: block;
  content: '';
  padding-top: 0.5rem;
  border-bottom: solid 3px #019fb6; 
    transform: scaleX(0);  

}
.transaction-wrapper h2:after {

   
    border-bottom: solid 2px black;  
    transition: transform 2500ms ease-in-out;
}

.transaction-statement {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  margin: 1rem 0;
  letter-spacing: 0.01rem;
}

.transaction-statement p {
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
}

.transaction-header p {
  font-weight: 600;
  letter-spacing: 0.05rem;
}
